@media (min-width: 576px) {
    body::before {
        content: 'SM';
        font-size: 1.5rem;
        margin-left: 20px;
    }
}

@media (min-width: 768px) {
    body::before {
        content: 'MD';
        font-size: 1.5rem;
        margin-left: 20px;
    } 
}

@media (min-width: 992px) {
    body::before {
        content: 'LG';
        font-size: 1.5rem;
        margin-left: 20px;
    }
}

@media (min-width: 1200px) {
    body::before {
        content: 'XL';
        font-size: 1.5rem;
        margin-left: 20px;
    }
}

@media (min-width: 1400px) {
    body::before {
        content: 'XXL';
        font-size: 1.5rem;
        margin-left: 20px;
    }
}